<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <services>
      <service name="Service"
               behaviorConfiguration="security">
        <endpoint address="http://localhost:9000/Services/MsdnClaims"
                  binding="basicHttpBinding"
                  bindingConfiguration="security"
                  contract="Contract" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="security">
          <serviceAuthorization principalPermissionMode="None">
            <authorizationPolicies>
              <add policyType="Service.CustomerAuthorizationPolicy, Service" />
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <!-- credentials over clear text transport - only for testing purposes!!! -->
    <bindings>
      <basicHttpBinding>
        <binding name="security">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>       
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>

  <system.web>
    <roleManager enabled="true"
                 defaultProvider="CustomProvider">
      <providers>
        <add name="CustomProvider" type="Service.CustomRoleProvider, Service" />
      </providers>
    </roleManager>
  </system.web>
</configuration>